/* LIGHT default */
:root{
  --bg: #ffffff;
  --bg2:#f6f7fb;
  --text:#0b1220;
  --muted:#5b6a86;
  --line: rgba(10,20,40,.10);

  --card: rgba(255,255,255,.85);
  --card2: rgba(246,247,251,.90);

  --p1:#2563eb;
  --p2:#16a34a;
  --p3:#f59e0b;
  --danger:#ef4444;
}

body{
  background:
    radial-gradient(1200px 700px at 70% -10%, rgba(37,99,235,.12), transparent 55%),
    radial-gradient(900px 600px at 10% 0%, rgba(22,163,74,.10), transparent 55%),
    radial-gradient(900px 700px at 30% 110%, rgba(245,158,11,.10), transparent 60%),
    var(--bg);
  color:var(--text);
}

[data-theme="dark"]{
  --bg:#0b1220;
  --bg2:#0f1b33;
  --text:#e9f0ff;
  --muted:#a9b6d1;
  --line: rgba(255,255,255,.10);

  --card: rgba(15,27,51,.70);
  --card2: rgba(12,22,43,.86);
}

[data-theme="dark"] body{
  background:
    radial-gradient(1200px 800px at 70% -10%, rgba(37,99,235,.22), transparent 55%),
    radial-gradient(900px 700px at 10% 0%, rgba(22,163,74,.18), transparent 55%),
    radial-gradient(900px 700px at 30% 120%, rgba(245,158,11,.14), transparent 60%),
    var(--bg);
}
